html {
  font-family: sans-serif;

}

body {
  background-color: #eceff4;
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #5E81AC;
}

.post-title-container li a {
  color: #d08770;
  background-color: transparent;
  font-weight: bold;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #81A1C1;
}

.nav-links {
  width: 100%;
  display: none;
  margin-left: -20px;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #81A1C1;
}

.nav-links a:hover, a:focus {
  background-color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  /* opacity: 1.5; */
}

.expanded {
  display: block;
}

/* tag styles */
 a {
    color: #00539F;
  }
 
  .tags {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 auto;  
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }

@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: 5em; */
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

.hamburger {
  display: none;
  }
}

.dark body {
  background-color: #11111b;
  color: #fff;
}

.dark .nav-links a {
  color: #d08770;
}

.dark [astro-icon] {
  color: #d08770;
}

.dark h1 {
  color: #d08770; 
}

