/* Nord theme palette -> https://www.nordtheme.com/docs/colors-and-palettes*/
@import "./catppuccin-palette.css";

:root {
/*LazyVim palette*/
  --lazy-blue: #347ee9;
  --lazy-bg: #1E2030;
/* Polar Night */
  --almost-black: #2E3440;
  --dark-grey: #3B4252;
  --light-gray: #434C5E;
  --lighter-gray: #4C566A;
/* Snow Storm */
  --light-snow: #eceff4;
  --medium-snow: #e5e9f0;
  --cloudy-snow: #d8dee9;
/* Frost */
  --kale-green: #8fbcbb;
  --sky-blue: #88c0d0;
  --irish-sky: #81a1c1;
  --dark-blue: #5e81ac;
/* Aurora */
  --very-red: #bf616a;
  --kinda-orange: #d08770;
  --ctp-mocha-yellow: #ebcb8b;
  --matte-green: #a3be8c;
  --kinda-fucsia: #b48ead;
}

/* we set the light bg here */
html, body {
  background-color: var(--ctp-mocha-base);
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;

}

body {
  height: 10vh;
  width: 100vh;

}

* {
  box-sizing: border-box;
}




h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--kinda-orange);
  text-decoration: underline;
}

h2 {
  color: var(--lazy-blue);

}

h3 {
  color: var(--kinda-orange)
}
 .date-author {
   color: var(--ctp-mocha-teal);
 }

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--lazy-blue);
}

.nav-links {
  width: 100%;
  display: none;
  margin-left: -20px;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration-line:underline;
  text-transform: uppercase;
  color: var(--ctp-mocha-teal);
}

.expanded {
  display: block;
}
/*Blog post list styles*/
  .post-title-container {
    display: flex;
    padding: 0;
  }

  .list-disc {
    list-style-type: none;

    flex-direction: row;
    align-items: flex-start;
  }

  a {
    font-size: 1.5rem;
  }

  .description {
    color: var(--lazy-blue);
  }

/* tag styles */
 a {
  color: var(--kinda-orange);
  }
 
  .tags {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 auto;  
  }

  p {
    color: var(--lighter-gray);
  }

  .tag {
    margin: 0.25em;
    /* border: dotted 1px #a1a1a1; */
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    color: var(--kinda-orange);
    /* background-color: #F8FCFD; */
  }
hr.solid {
  border-top: 1px solid #81a1c1;
}


/* Greeting Button */
.greeting-button {
  background-color: var(--ctp-mocha-teal);
  color: var(--light-snow);
}

.quote-text {
  font-style: italic;
  font-size: medium;
}
.date-author {
   color: var(--lighter-gray);
 }

 .post-description {
   color: var(--kinda-orange);
 }
 
.post-subtitle {
   color: var(--lazy-blue);
   font-size: 1.5rem;
 }
/*********************************************** BEGINNING MEDIA QUERIES ************************************/
@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: 5em; */
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

.hamburger {
  display: none;
  }
}
/***********************************************   CODE FENCES FORMATTING STYLES ************************************/


pre {
  padding: 8px 16px;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 3px 3px var(--dark-grey);
  /* background: #343434; */
}
code {
  padding: 4px;
  border-radius: 4px;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  font-size: 14px;
}
pre > code {
  padding: 0;
  line-height: 1.5;
  word-break: normal;
  white-space: pre;
  word-spacing: normal;
  tab-size: 4;
}

/*********************************************** BEGINNING DARK MODE ************************************/
/* we set the dark background here */
.dark body {
  background-color: var(--lazy-bg);
  color: #fff;
}

.dark .nav-links a {
  color: var(--ctp-mocha-yellow);
}

.dark [astro-icon] {
  color: var(--ctp-mocha-yellow);
}

.dark a {
  color: var(--ctp-mocha-teal);
}

.dark p {
  color: var(--medium-grey);
}

.dark h1 {
  color: var(--kinda-orange); 
   text-decoration-line: underline;

}

.dark h2 {
  color: var(--ctp-mocha-teal); 
}

.dark h3 {
color: var(--medium-grey);
}

.dark .description {
  color: #d8dee9;
}

.dark hr.solid {
  border-top: 1px solid var(--ctp-mocha-yellow);
} 

/* Greeting Button */
.dark .greeting-button {
  background-color: var(--kinda-fucsia);
  color: var(--lighter-gray);
}

#themeToggle {
  color: var(--ctp-mocha-yellow);
}

.dark .hamburger .line {
  background-color: var(--kinda-orange);
}

.dark .date-author {
   color: var(--kinda-fucsia);
 }

 .dark .post-description {
   color: var(--kinda-fucsia);
 }
 
.dark .post-subtitle {
   color: var(--ctp-mocha-teal);
   font-size: 1.5rem;
 }

 .dark .tag {
   color: var(--ctp-mocha-yellow);
 } 
