/* Nord theme palette -> https://www.nordtheme.com/docs/colors-and-palettes */
@import "./catppuccin-palette.css";

:root {
/*LazyVim palette*/
  --lazy-blue: #347ee9;
  --lazy-bg: #1E2030;
/* Polar Night */
  --almost-black: #2E3440;
  --dark-grey: #3B4252;
  --light-gray: #434C5E;
  --lighter-gray: #4C566A;
/* Snow Storm */
  --light-snow: #eceff4;
  --medium-snow: #e5e9f0;
  --cloudy-snow: #d8dee9;
/* Frost */
  --kale-green: #8fbcbb;
  --sky-blue: #88c0d0;
  --irish-sky: #81a1c1;
  --dark-blue: #5e81ac;
/* Aurora */
  --very-red: #bf616a;
  --kinda-orange: #d08770;
  --ctp-mocha-yellow: #ebcb8b;
  --matte-green: #a3be8c;
  --kinda-fucsia: #b48ead;
}

/* we set the light bg here */
html, body {
  /* background-color: var(--ctp-latte-base); */
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
  color: var(--ctp-latte-text)
}

.light html {
  background-color: var(--ctp-latte-crust);
}

body {
  height: 10vh;
  width: 100vh;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--ctp-latte-lavender);
}

h2 {
  color: var(--ctp-latte-lavender);
}

h3 {
  color: var(--ctp-latte-lavender)
}

.date-author {
  color: var(--ctp-latte-maroon);
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  padding-bottom:20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--ctp-latte-lavender);
}

.nav-links {
  width: 100%;
  display: none;
  margin: 40px 0 18px 0;  border: 3px var(--ctp-latte-flamingo) solid;
  border-radius: 6px;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--ctp-latte-yellow);
}

.expanded {
  display: block;
}

/*Blog post list styles*/
.post-title-container {
   display: flex;
   padding: 0;
}

.list-disc {
   list-style-type: none;
   flex-direction: row;
   align-items: flex-start;
}

.description {
  color: var(--ctp-latte-lavender);
}

/* tag styles */
a {
  color: var(--ctp-latte-pink);
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
}
 
.tags {
  display: flex; 
  flex-wrap: wrap; 
  margin: 0 auto;  
}

p {
  color: var(--ctp-latte-text);
}


.tag {
  margin: 0.25em;
  /* border: dotted 1px #a1a1a1; */
  border-radius: .5em;
  padding: .5em 1em;
  font-size: 1.15em;
  color: var(--ctp-latte-lavender);
  /* background-color: #F8FCFD; */
}

hr.solid {
  border-top: 1px solid #81a1c1;
}

/* Greeting Button */
.greeting-button {
  background-color: var(--ctp-latte-yellow);
  color: var(--light-snow);
}

.quote-text {
  font-style: italic;
  font-size: medium;
  color: var(--ctp-latte-lavender);
}

.post-image {
  border-radius: 6px;
  margin: 10px 0 10px 0;
  box-shadow: 0 2px 4px 0 var(--ctp-latte-overlay1), 0 3px 10px 0 var(--ctp-latte-overlay2);
}
 .post-description {
   color: var(--ctp-latte-lavender);
   margin: 0;
   font-weight: bold;
 }
 
.post-subtitle {
   color: var(--ctp-latte-lavender);
   font-size: 1.5rem;
 }

.profile-image {
  float: right;
  margin:10% 10% 0 0;
}

/***************** Blog styles: light ******************/
.blog-border {
  border: 2px solid var(--ctp-latte-pink);
  border-radius: 6px;
}

.blog-callout {
  padding: 18px;
  font-style: italic;
  font-weight: bold;
  color: var(--ctp-latte-subtext0);
}

.blog-paragraph-title {
 color: var(--ctp-latte-lavender); 
 font-weight: bold;
 font-size: large;
 margin-bottom: 1px;
}

.blog-image-credit {
  font-size: small;
}

section {
  color: var(--ctp-latte-yellow);
  font-weight: bold;
}
/************************************************  BEGINNING MEDIA QUERIES  *******************************************/
@media screen and (min-width: 636px) {
  .nav-links {
  /* margin-left: 5em; */
  display: block;
  position: static;
  width: fit-content;
  background: none;
}

.nav-links a {
  display: inline-block;
  padding: 15px 20px;
}

.hamburger {
  display: none;
  }
}

/***********************************************   CODE FENCES FORMATTING STYLES  *************************************/
pre {
  padding: 8px 16px;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 3px 3px var(--dark-grey);
  /* background: #343434; */
}

code {
  padding: 4px;
  border-radius: 4px;
  font-family: Consolas, Monaco, 'Andale Mono'v, monospace;
  direction: ltr;
  font-size: 14px;
}

pre > code {
  padding: 0;
  line-height: 1.5;
  word-break: normal;
  white-space: pre;
  word-spacing: normal;
  tab-size: 4;
}

/*********************************************** BEGINNING DARK MODE ************************************/
/* we set the dark background here */
.dark body {
  background-color: var(--ctp-mocha-base);
  color: var(--ctp-mocha-text)
}

.dark .nav-links {
  border: 3px solid var(--ctp-mocha-yellow);
  border-radius: 6px;
}

.dark .nav-links a {
  color: var(--ctp-mocha-yellow);
}

.dark [astro-icon] {
  color: var(--ctp-mocha-yellow);
}

.dark .post-image {
  box-shadow: 0 2px 4px 0 var(--ctp-mocha-base), 0 3px 10px 0 var(--ctp-mocha-mantle);
}
.dark a {
  color: var(--ctp-latte-yellow);
}

.dark p {
  color: var(--ctp-mocha-subtext1);
}

.dark h1 {
  color: var(--ctp-latte-lavender); 
}

.dark h2 {
  color: var(--ctp-latte-yellow); 
}

.dark h3 {
  color: var(---ctp-mocha-subtext1);
}

.dark .description {
  color: #d8dee9;
}

.dark hr.solid {
  border-top: 1px solid var(--ctp-mocha-yellow);
} 

/* Greeting Button */
.dark .greeting-button {
  background-color: var(--ctp-mocha-pink);
  color: var(--ctp-mocha-text);
}

.theme-toggle {
  color: var(--ctp-mocha-yellow);
  float: right;
  margin-right: 10%;
}

.dark .hamburger .line {
  background-color: var(--ctp-latte-lavender);
}

.dark .date-author {
   color: var(--ctp-mocha-mauve);
 }

 .dark .post-description {
   color: var(--ctp-mocha-mauve);
 }
 
.dark .post-subtitle {
   color: var(--ctp-latte-yellow);
   font-size: 1.5rem;
 }

 .dark .tag {
   color: var(--ctp-mocha-yellow);
 } 

/***************** Blog styles: dark ******************/
.dark .blog-border {
  border: 2px solid var(--ctp-mocha-mauve);
  border-radius: 6px;
}

.dark .blog-callout {
  padding: 18px;
  font-style: italic;
  font-weight: bold;
  color: var(--ctp-mocha-subtext0);
}

.dark .blog-paragraph-title {
 color: var(--ctp-mocha-teal); 
 font-weight: bold;
 font-size: large;
 margin-bottom: 1px;
}

.dark .blog-image-credit {
  font-size: small;
}

.dark section {
  color: var(--ctp-mocha-yellow);
  font-weight: bold;
}

