---
import "../styles/global.css";
import BaseLayout from "../layout/BaseLayout.astro";
const identity = {
  firstName: "Matteo",
  country: "Ireland",
  occupation: "Software Engineer",
  hobbies: ["painting", "olympic weightlifting", "custom keyboards"],
};
const pageTitle = "About Me";
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<BaseLayout pageTitle={pageTitle}>
  <img
    class="profile-image"
    src="../../public/Matteo-profile-circle.png"
    alt="avatar"
  />
  <h2>Just me stuff</h2>
  <p>
    My name is Matteo and I am softwre engineer specialized in front-end
    frameworks. My current obsession is React, but that's gonna change soon :D I
    am old enough to know what a VHS cassette player is and also to appreciate
    90's hits!
  </p>
  <h2>My academic education</h2>
  <p>
    I have a Master's degree in linguistics and I speak around six languages,
    natural ones, that is (but talk to me in English or Italian).
  </p>
  <h2>My programming journey</h2>
  <p>
    I am a self-taught programmer, which means I made a ton of mistakes along my
    long journey and still making some hee and there. On the bright side, I got
    to experience many different pieces of tech, and I loved that and try to
    keep doing it as much as I can. I love Java and I learned quite a bit of it
    for Android development, did a bit of Kotlin too and then switched to
    JavaScript with a classic frontend stack. I am now using React for my main
    projects, but this particular blog was built using Astro, and I am very much
    enjoing the experience so far! My passion for software started in the XDA
    developer community where I started porting Mobile OS from newer phones to
    older ones.
  </p>
  <h2>Linux Linux Linux</h2>
  <p>
    I work for big tech so I have to use macOS, and I really like it, but my
    passion and love goes to Linux. This blog was developed on Arch (BTW) and I
    loved every second of it.
  </p>
  <h2>Other cool stuff I do</h2>
  <p>
    I am also a digital painter, checkout my instagram account @mattestar_art to
    see my work. I lift heavy and I am so in love with Olympic weightlifting,
    it's my favourite sportm to watch and practice.
  </p>
</BaseLayout>
