---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Blog";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <h3>A list of all the stuff I like to talk about</h3>
  <br />

  {
    allPosts.map((post) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))
  }
</BaseLayout>
