---
import "../styles/global.css";
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome page subtitle</h2>
</BaseLayout>
