---
import "../styles/global.css";
import BaseLayout from "../layout/BaseLayout.astro";
import Greeting from "../components/Greetings";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome page subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
