---
import "../styles/global.css";
import HomeLayout from "../layout/HomeLayout.astro";
import Greetings from "../components/Greetings.astro";
const pageTitle = "Home";
---

<HomeLayout>
  <h2>A tech blog...or is it?</h2>
  <p>
    Let's talk about tech in general: where is at, where is going, and what is
    worth doing with it?
  </p>
  <p>
    Check out the post sections for the latest discussions, and get in touch if
    you want to talk to mie or tell me I am very wrong about something :)
  </p>
  <br />
  <Greetings />
  <!-- <Quotes client:load /> -->
  <!-- <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> -->
</HomeLayout>
