---
import { Icon } from "astro-icon";
---

<style>
  .footnote {
    margin-top: 50px;
  }

  [astro-icon] {
    width: 15px;
    height: 15px;
    color: var(--ctp-latte-yellow);
  }
</style>

<div class="footnote">
  Built with

  <Icon name={"twemoji:beating-heart"} /> Astro and Catppuccin
  <Icon name={"logos:astro"} /> Astro and Catppuccin
</div>
