---
import { Icon } from "astro-icon";
---

<style lang="css">
  [astro-icon] {
    width: 30px;
    height: 30px;
    color: var(--ctp-latte-yellow);
  }
</style>
<div class="hamburger">
  <Icon name={"ri:menu-unfold-line"} />
</div>
