---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <ThemeIcon />
    <Hamburger />
    <Navigation />
  </nav>
</header>
