---
import Greetings from "./Greetings.astro";
// import Location from '../components/Location.astro';

const response = await fetch("https://api.quotable.io/random");
const data = await response.json();
const randomQuote = data.content;
---

<!-- Data fetched at build can be rendered in HTML -->
<h1>Quote of the day</h1>
{console.log(randomQuote.content)}
<h2>{randomQuote}</h2>

<!-- Data fetched at build can be passed to components as props -->
<!-- <Greetings quote={randomQuote} /> -->
