---
import { Icon } from "astro-icon";
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>
  <Icon name={`prime:${platform}`} />
</a>

<style>
  a {
    padding: 0.5rem 0rem;
    color: white;
    text-decoration: none;
  }
</style>
<style lang="css">
  [astro-icon] {
    width: 30px;
    height: 30px;
    /* display: flex; */
    color: white;
  }
</style>
